## Credential
MINIO_ROOT_USER="{{ minio_access_key }}"
MINIO_ROOT_PASSWORD="{{ minio_secret_key }}"

## volume configuration
MINIO_VOLUMES="http://192.168.10.{71...74}:{{minio_ports_api}}{{ minio_volume_bind }}{1...2}"

## Export port
MINIO_OPTS="--console-address :{{ minio_ports_console }}"

## Browser module
MINIO_BROWSER={{ minio_browser_enabled }}

## secure ssl
MCS_SECURE_SSL_REDIRECT={{ minio_secure_ssl_redirect_enabled }}
